<table>
  <tr>
    <th>Table #</th>
    <th>Bill Total</th>
    <th>Paid?</th>
    <th></th>   <!-- View -->
    <th></th>   <!-- Delete -->
  </tr>

  <%= @parties.each do |party| %>
    <tr>
      <td><%= party.id %></td>
      <td><%= party.total %></td>
      <td><%= party.paid %></td>
      <td><%= link_to 'View', party_path(party) %></td>
      <td><%= link_to 'Delete', party_path(party),
              method: :delete, 
              data: {confirm: 'You sure about that, big guy?'} %></td>
    </tr>
  <% end %>
</table>