<div class="form">
  <h1>Create A Party</h1>

  <!-- Rails Form helper -->
  <!-- form_for used for PUT & POST -->
  <%= form_for @party do |f| %>
    <%= f.label :username %><br>
    <%= f.text_field :username %><br>
    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %><br>
    <br>
    <%= f.submit "Sign Up" %><br>
  <% end %>
</div>



<!--  Do i even fucking need this? -->