<div class="form">

  <h1>Log In here</h1>
  <% #TODO what's a form_tag for %>
  <%= form_for(:session, url:login_path) do |f| %>
    <%= f.label :username %><br>
    <%= f.text_field :username %><br>

    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
    <br>

    <%= f.submit "Login"%>
  <% end %>
  <p>New user? <%= link_to "Sign up now!", new_user_path %></p>

</div>