<div class="form">
  <h1>Sign Up here</h1>

  <!-- Rails Form helper -->
  <!-- form_for used for PUT & POST -->
  <%= form_for @user do |f| %>
    <%= f.label :username %><br>
    <%= f.text_field :username %><br>
    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %><br>
    <br>
    <%= f.submit "Sign Up" %><br>
  <% end %>
  <p>Already a member? <%= link_to "Log in here!", login_path %></p>
</div>